$color-background: #4B0082;
$color-border: #2D004B;
$color-primary: #fff;
$color-secondary: rgb(34, 104, 34);

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: $color-background;
  box-sizing: border-box;
  .control-panel-container{
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 70px;
    display: flex;
    justify-content: center;
    .pickbutton{
      margin: 10px;
      border-radius: 20px;
      color: $color-primary;
      font-size: 20pt;
      background-color: $color-secondary;
      opacity: .5;
    }
    .pickbutton-active{
      opacity: 1;
    }
    .pickbutton:focus{
      outline: none;
    }
  }
  .container {
    margin: auto;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 600px;
    .avatar-container{
      width: calc(100% / 3);
      padding-top: calc(100% / 3);
      height: 0;
      position: relative;
      .avatar-holder{
        position: absolute;
        margin: 2px;
        border: 5px solid $color-border;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .avatar-name-plate{
          position: absolute;
          bottom: 0;
          left: 0;
          color: $color-primary;
          text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
          margin: 10px;
          font-size: 20pt;
        }
      }
      .avatar-holder-active{
        border: 10px solid $color-secondary;
      }
    }
  }
  .modal{
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 800px;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 2;
    &.hide{
      display: none;
    }
    &.show{
      display: block;
    }
    .close-button{
      position: absolute;
      width: 48px;
      height: 48px;
      top: 0;
      right: 0;
      background: none;
      padding: 0;
      border: none;
      img{
        width: inherit;
        height: inherit;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}
